.note {
  background-color: #fef68a;
  word-wrap: normal;
  overflow-wrap: break-word;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1rem;
  min-height: 250px;
  min-width: 250px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.new {
  background-color: #02e09e;
  max-height: 250px;
}

.note-text {
  word-wrap: normal;
  overflow-wrap: break-word;
  border: none;
  outline: none;
  background: transparent;
  resize: none;
  font-size: 18px;
  font-weight: 500;
  color: rgb(70, 70, 70);
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date {
  font-size: 18px;
  font-weight: 700;
  color: rgb(0, 192, 118);
  user-select: none;
  -webkit-user-drag: none;
}

.delete-icon {
  height: 25px;
  width: 25px;
  color: rgb(70, 70, 70);
  cursor: pointer;
  transform: scale(1);
}

.delete-icon:hover {
  color: rgb(211, 0, 0);
  cursor: pointer;
  transform: scale(1.2);
}

.download-icon {
  height: 25px;
  width: 25px;
  color: rgb(70, 70, 70);
  cursor: pointer;
  transform: scale(1);
}

.download-icon:hover {
  color: rgba(0, 162, 255, 0.651);
  cursor: pointer;
  transform: scale(1.2);
}

.save-button {
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 2px 8px;
  font-weight: 500;
  background-color: #02e09e;
  color: rgb(70, 70, 70);
}

.save-button:hover {
  color: rgb(70, 70, 70);
  background-color: #ffff;
}
