.app {
  height: 100vh;
  padding-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.dark {
  overflow-y: scroll;
  background-color: rgb(61, 61, 61);
}

.dark h1 {
  color: rgb(216, 216, 216);
}

.dark h2 {
  color: rgb(216, 216, 216);
}

.dark p {
  color: rgb(216, 216, 216);
}

.app-credits {
  margin-top: 30vh;
}

p {
  font-weight: 600;
}

.app-credits a {
  text-decoration: none;
  color: rgb(70, 70, 70);
}

.dark .app-credits a {
  color: rgb(216, 216, 216);
}

.dark .app-credits a:hover {
  color: aquamarine;
}

.app-credits a:hover {
  color: rgb(0, 86, 216);
}
