.app {
  height: 93.5vh;
  padding-top: 20px;
  text-align: center;
}

.dark {
  overflow-y: scroll;
  background-color: rgb(61, 61, 61);
}

.dark h1 {
  color: rgb(216, 216, 216);
}

.dark h2 {
  color: rgb(216, 216, 216);
}

.dark p {
  color: rgb(216, 216, 216);
}

p {
  font-weight: 600;
}
